<%= form_for @search, url: search_users_path, method: :post do |s| %>
  <div class="row">
  <div class="form-group col-md-1">
    <%= submit_tag  "Search", :class => "btn btn-success" %>
  </div>
  <div class="form-group col-md-1">
    <%= s.label :type, class: "help-block" %>
    <%= s.select :user_type, User::TYPES.collect{ |t| [t]}%>
  </div>
  <div class="form-group col-md-3">
    <%= s.label :country_id, class: "help-block" %>
    <%= s.collection_select :country_id,  @countries,  :id, :name, {:prompt => "Select a Country"}, {:id => 'u_countries_select'} if @countries %>
  </div>
  <div class="form-group col-md-1 form-vertical">
    <%= s.label :region_id, class: "help-block" %>
    <%= s.collection_select :region_id, @regions, :id, :name, {:prompt => "Select a Region"}, {:id => 'u_regions_select'} %>
  </div>
  <div class="form-group col-md-1" >
    <%= s.label :city_id, class: "help-block" %>
    <%= s.collection_select :city_id, @cities, :id, :name, {:prompt => "Select a City"}, {:id => 'u_cities_select'} %>
  </div>
  <div class="form-group col-md-2">
      <%= s.label :categories, class: "help-block" %>
      <%= s.collection_select :category_ids, Category.all, :id, :name, {}, { :multiple => true} %>
  </div>

  <div>
    <%= submit_tag  "Search", :class => "btn btn-success" %>
  </div>
  </div>
<% end %>

<script>
  $('#u_countries_select').change(function() {
    $.ajax({
      url: "<%= user_regions_path %>",
      type: "GET",
      data: {
        country_id : $('#u_countries_select').val()
      },
      dataType: "script"
    }).done(function (){ 
          $('#u_regions_select').change(function() {
            $.ajax({
              url: "<%= user_cities_path %>",
              type: "GET",
              data: {
                region_id : $('#u_regions_select').val()
              },
              dataType: "script"
            });
          });
        });
  });   
</script>