<%= form_for @review, remote: true do |r| %>
<div class="row" style="margin-top:40px;">
	<div class="col-md-12">
  	<div class="well well-sm">
      <div class="text-right">
          <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
      </div> 
      <div class="row" id="post-review-box" style="display:none;">
        <div class="col-md-12">
          <form accept-charset="UTF-8" action="" method="post">
            <div class="hidden">
              <%= r.number_field :author_id%>
              <%= r.number_field :reviewed_id%>
            </div>
<!--             <input id="ratings-hidden" name="rating" type="hidden"> --> 
            <div class="form-group hidden">
              <%= r.label :rating %>
              <%= r.number_field :rating, class: "form-control", placeholder: "Rating", id: "ratings-hidden", type: "hidden"%>
            </div>
            <div class="form-group">
              <%= r.label :review %>
              <%= r.text_area :comment, class: "form-control  animated", placeholder: "Comment", size: "50x5" %>
            </div>
           <!--  <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
 -->
            <div class="text-right">
              <div class="stars starrr" data-rating="0"></div>
              <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
              <span class="glyphicon glyphicon-remove"></span>Cancel</a>
              <button class="btn btn-success btn-lg" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
      </div>      
	</div>
</div>
<% end %>
