<h4>Reviews</h4>

<div class="reviewsBox">
    <div class="detailBox">
        <div class="titleBox">
          <label>Reviews about <%= @user.name %></label>
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                <%  @user.reviews_to.each do |r| %>
                    <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/6" />
                        </div>
                        <div class="commentText">
                            <p class=""><%= r.comment %></p> <span class="date sub-text">on <%=r.updated_at %> by <%= r.author.name %></span>

                        </div>
                    </li>
                <% end %>
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your review" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="detailBox">
        <div class="titleBox">
          <label>Reviews from <%= @user.name %></label>
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                <%  @user.reviews_by.each do |r| %>
                    <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/6" />
                        </div>
                        <div class="commentText">
                            <p class=""><%= r.comment %></p> <span class="date sub-text">on <%=r.updated_at %> has reviewed to <%= r.reviewed.name %></span>

                        </div>
                    </li>
                <% end %>
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>