<div class="reviewsBox">
    <%= render 'show_description' %>
    <div class="detailBox">
        <div class="titleBox">
          <label>Reviews about <%= @user.name %></label>
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                <% if @user.reviews_to.count > 0 %>
                    <%  @user.reviews_to.each do |r| %>
                        <li>
                            <div class="commenterImage">
                              <%= image_tag r.author.picture %>
                            </div>
                            <div class="commentText">
                                <p class=""><%= r.comment %></p> <span class="date sub-text">on <%=r.updated_at %> by <%= r.author.name %></span>
                            </div>
                        </li>
                    <% end %>
                <% else %>
                    <li>
                        <div class="commentText">
                            <p class=""> This user has still no reviews</p>
                        </div>
                    </li>
                <% end %>
            </ul>
            <% if current_user && ( current_user.id != @user.id) %>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your review" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add</button>
                    </div>
                </form>
            <% end %>
        </div>
    </div>
    <%= render 'show_categories' %>
</div>