<td><%= image_tag user.picture, :class => "userImage"%></td>
				<td><%= user.name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= user.address %></td>
				<td><%= user.city.name if user.city %></td>
				<td><%= user.region.name if user.region %></td>
				<td><%= user.country.name if user.country %></td>
				<td><%= user.latitude %></td>
				<td><%= user.longitude %></td>
				<td><%= user.website_url %></td>