<h4>Users list</h4>

<div>
	<%= link_to "New User", new_user_path %>
</div>

<table class="table table_stripted">
			<th>First name</th>
			<th>Last name</th>
			<th>Email</th>
			<th>Address</th>
			<th>City</th>
			<th>Region</th>
			<th>Country</th>
			<th>Type</th>
			<th>Categories</th>
			<th>Description</th>
			<th>website</th>
	<% @users.each do |u| %>
		<tr>
			<td><%= u.name %></td>
			<td><%= u.last_name %></td>
			<td><%= u.email %></td>
			<td><%= u.address %></td>
			<td><%= u.city %></td>
			<td><%= u.region %></td>
			<td><%= u.country %></td>
			<td><%= u.type %></td>
			<td><%= u.category.name if u.category %></td>
			<td><%= u.description %></td>
			<td><%= u.website_url %></td>
			<td><%= link_to "Edit", edit_user_path(u) %>
			<%= link_to "Delete", user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %></td>	
		</tr>
	<% end %>
</table>
