
<% @users.each do |u| %>
	<% @user = u %>
	<div class="panel-group" id="accordion">
   	<div class="panel-heading">
      <div class="row">
          <div class="col-md-1 ">
						<%= link_to (image_tag u.picture, :class => "userImage"), u.url %>
					</div>
					<div class="col-md-11">
						<div class="row">	
        			<div class="col-md-8">												
							<table class="table no-margin-bottom">
								<tr>
										<th class="col-md-1"><%= image_tag u.country, src: "assets/blank.gif", class: "flag "+u.country.flag, alt: u.country.name if u.country %></th>
										<th class="col-md-3"><%= u.full_name %></th>
										
										<td class="col-md-2"><%= u.country.name if u.country %></td>
										<td class="col-md-2"><%= u.city.name if u.city %></td>					

										<th class="col-md-2">
											<% if current_user %>
											<%	if current_user.admin %>
											<%=	link_to "Edit", edit_user_path(u) %>
											<%= link_to "Delete", user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %>
											<%end %>											
								
											 
											 <%end %>
										</th>
										<th class="col-md-2 stars-right">
											<%= if @user.average_rating == 0 
														"Not rated"
													else 
														@user.average_rating
													end %>
										</th>
								</tr>
								<!-- </thead> -->
							</table>
						</div>
		   			       
						<div class="col-md-2">
						</div>

						<div class="col-md-2">
							<button type="button" class="btn btn-warning btn-toogle" data-toggle="collapse" data-target= <%= @user.haccordion %> >Click to Toogle
							</button>
						</div>
					<div class = "col-md-12">
						<p><%= @user.short_description%></p>
					</div>
				</div> <!-- end of col-11 -->
					
			</div>  <!-- end of row -->

		</div>
	</div>
	</div>

	<div id=<%= @user.accordion %> class="panel-collapse collapse ">
			<div class="col-md-12 panel-border">
				<div class="col-md-8">
						<div class="row">
							<div class="col-md-2 nopadding-right nopadding-left panel-border">
								<%= render '/users/show_categories' %>
							</div>
							<div class="col-md-10 nopadding-right">
							<div class="col-md-12 nopadding-right panel-border-white ">
								<%=render '/users/show_description' %>
							</div>
							<div class="col-md-12 nopadding-right panel-border">
								<%=render '/users/input_review' %>
							</div>
							</div>
						</div>
				</div>
				<!-- end of col-8 -->
		    <div class="col-md-4 nopadding-right panel-border">			
		   		<%= render '/users/show_reviews' %>
		   	</div>
			</div>
	</div> <!-- End of accordion -->
<% end %>
