<h4>User</h4>

<table class="table table_stripted">
			<th><%= @user.type %></th>
			<th>First name</th>
			<th>Last name</th>
			<th>Email</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Country</th>
			<td>Latitude</td>
			<td>Longitude</td>
			<td>Website</td>
		<tr>
			<td><%= image_tag @user.picture, :class => "userImage"%></td>
			<td><%= @user.name %></td>
			<td><%= @user.last_name %></td>
			<td><%= @user.email %></td>
			<td><%= @user.address %></td>
			<td><%= @user.city %></td>
			<td><%= @user.state %></td>
			<td><%= @user.country %></td>
			<td><%= @user.latitude %></td>
			<td><%= @user.longitude %></td>
			<td><%= @user.website_url %></td>
			<% if admin %>
			<td>
				<%= link_to "Edit", edit_user_path(u) %>
				<%= link_to "Delete", user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>	
			<% end %>		
		</tr>
</table>
<br/>

<%= link_to "Back", users_path %>
<%= render 'show_reviews' %>