<h4> Register yourself</h4>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, url: register_path do |u| %>

<!-- See validation errors   
  <% @user.errors.inspect %> -->
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
  <div class="container-fluid ">
  <div class="form-group">
  <%= u.label :name %>
  <%= u.text_field :name, class: "form-control", placeholder: "First name " %>
  </div>
  <div class="form-group">
  <%= u.label :last_name %>
  <%= u.text_field :last_name, class: "form-control", placeholder: "Last name " %>
  </div>
  <div class="form-group">
  <%= u.label :email %>
  <%= u.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="form-group">
  <%= u.label :password %>
  <%= u.password_field :password_digest, class: "form-control", placeholder: "Password" %>
  </div>
  <div class="form-group">
  <%= u.label :repeat_password %>
  <%= u.password_field :password_confirmation, class: "form-control", placeholder: "Password" %>
  </div>
  <div class="form-group">
  <%= u.label :type %>
  <%= u.select :type, User::TYPES.collect{ |t| [t]}%>
  </div>
  <div>
  <%= u.submit class: "btn btn-success"%>
  </div>
  </div>

<% end %>

<%= link_to("Back", users_path) %>

