<h4>Show category <%= @category.name %></h4>


<table class="table table_stripted">
	<th>Subcategories</th>
	<th>Icon</th>
	

	<% @category.subcategories.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td><%= c.icon %></td>
			<td><%= link_to "Edit", edit_category_path(c), :class => "btn btn-success" %><%= link_to "Delete", category_path(c), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-success" %></td>	
		</tr>
	<% end %>
</table>

<div>
	<%= link_to "New category", new_category_path, :class => "btn btn-success"%>
</div>
