<h4>Show category</h4>
<div>
	<%= link_to "New category", new_category_path %>
</div>


<table class="table table_stripted">
	<th>Name</th>
	<th>Icon</th>
	<th>Subcategories</th>

	<% @category.subcategories.each do |c| %>
		<tr>
			<td><%= @category.name %></td>
			<td><%= c.icon %></td>
			<td><%= c.name %></td>
			<td><%= link_to "Delete", category_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></td>	
		</tr>
	<% end %>
</table>