<%= form_for @review, remote: true do |r| %>
	<% if @review.errors.any? %>
		<% @review.errors.full_messages.each do |message| %>
			<%= message %>
		<% end %>
	<% end %>
	<div class="container-fluid">
		<div class="hidden">
			<%= r.number_field :author_id%>
			<%= r.number_field :reviewed_id%>
		</div>
		<div class="form-group">
			<%= r.label :comment %>
			<%= r.text_area :comment, class: "form-control", placeholder: "Comment", size: "60x12" %>
		</div>
		<div class="form-group">
			<%= r.label :rating %>
			<%= r.number_field :rating, in: 0..5, class: "form-control", placeholder: "Rating" %>
		</div>
		<div>
			<%= r.submit class: "btn btn-success", value: "Publish" %>
		</div>
		</div>
<% end %>

<div><%= link_to image_tag("backarrow.png"), users_path, class: "backbutton" %></div>


