<%= form_for @review do |r| %>
	<% if @review.errors.any? %>
		<% @review.errors.full_messages.each do |message| %>
			<%= message %>
		<% end %>
	<% end %>
	<div class="container-fluid">
	<div class="hidden">
		<%= r.number_field :author_id%>
		<%= r.number_field :reviewed_id%>
	</div>
	<div class="form-group">
		<%= r.label :comment %>
		<%= r.text_field :comment, class: "form-control", placeholder: "Comment" %>
	</div>
	<div class="form-group">
		<%= r.label :rating %>
		<%= r.number_field :rating, class: "form-control", placeholder: "Rating" %>
	</div>
	<div>
		<%= r.submit class: "btn btn-success"%>
	</div>
	</div>

<% end %>

<%= link_to("Back", users_path) %>

