<h4>Reviews list</h4>
<div>
	<%= link_to "New Review", new_review_path %>
</div>

<table class="table table_stripted">
			<th>Author</th>
			<th>Reviewed</th>
			<th>Comment</th>
			<th>Rating</th>
			<th>Course</th>
	<% if @reviews %>
		<% @reviews.each do |r| %>
			<tr>
				<td><%= r.creator_id.name%></td>
				<td><%= r.referred_id.name %></td>
				<td><%= r.comment %></td>
				<td><%= r.rating %></td>
				<td><%= r.course_id.name %></td>
			</tr>
		<% end %>
	<% end %>
</table>