<!DOCTYPE html>
<html>
<head>
  <title>Nomadets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>	
	<% flash.map do |key, msg| %>
    <%= content_tag :div, msg, id: key %>
  <% end %>
 	<div class="container">
	 	<header>
		 	<img src="/assets/nomadets_logo.jpg" id="logo" class="logo">
		 	<div class="header-title">
		  	<h1>Welcome to Nomadets</h1>
		  </div> 
	  </header>
	  <nav class="navbar navbar-default" role="navigation">
	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">	  	
					<li><%= link_to "Teachers", teachers_path %></li>
					<li><%= link_to "Venues", venues_path %></li>
					<li><%= link_to "Students", students_path %></li>
					<li><%= link_to "Categories", categories_path %></li>
					<li><%= link_to "Search", searches_path %></li>
					<% if current_user %>
						<li><%= link_to "Reviews", reviews_by_path(current_user.id) %></li>
						<li><%= link_to "Profile", user_path(current_user.id) %></li>
						<li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
					<%end%>
				</ul>
	    	<% if current_user %>		
					<%= render "users/logout_form" %>					
					<% else %>						
					<%= render "users/login_form" %>				
				<% end %>
			</div>
		</nav>
		<%= yield %>
	</div>
</body>
</html>
